
/*CONTACT FORM START---------------------------*/

#contact-form {
  margin: 20px 20px 20px 0;
}

button, input, select, textarea, label {
  font-family: 'Roboto', sans-serif;
}

label {
  margin: 20px 20px 20px 20px;
}

input, select, textarea {
  margin: -10px 0 0 20px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid;
  border-color: #2196F3;
  outline: none;
  resize: none;
  width: 190px;
}

textarea:focus, select:focus, input:focus {
  border: 2px solid;                         
  border-color: #2196F3;
  padding: 4px;
}

/*BUTTONS START---------------------------*/

input[type=submit], [type=reset] {
  width: 80px;
  height: 35px;
  background: #1565C0;
  color: white;                    
  border: 0 none;
  cursor: pointer;
  transition: all 0.25s ease;
  margin-top: 20px;
}

input[type=submit]:hover, [type=reset]:hover {
  background: #1E88E5;
  transition: all 0.25s ease;
}

/*BUTTONS END---------------------------*/

/*CONTACT FORM END---------------------------*/

/*GOOGLE MAP API START---------------------------*/

#google-map {
  height: 500px;
  width: 100%;
}

/*GOOGLE MAP API END---------------------------*/
					 
@media screen and (min-width: 500px) {
}

@media screen and (min-width: 1000px) {
}