
#survival-banner {
	display: flex;
	align-items: center;
	justify-content: center;
}

#survival-banner img {
  max-width: 100%;
}
.survival-container h3, h4, ul, p {
  color: black;	
}

.survival-container p, ul {
  margin-top: 10px;
}

.discord-box p {
  color: white;
}

#ip-box {
  color: white;
}


