
main {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
}

main h3, h4 {
  color: black;
  text-align: center;
  line-height: 2em;
}
	
#home-banner {  
}

#home-banner img {
  max-width: 100%;    	
}

iframe {
  width: 832px;
  height: 468px;
  padding: 0 20px 0 20px;  
  border: none;
  max-width: 90%; 
  resize: both;
  overflow: auto; 
}

				 
@media screen and (min-width: 500px) {
	
}

@media screen and (min-width: 1000px) {

}
