
/*INDEX MAIN SECTION START---------------------------*/

main {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
}

main h3, h4 {
  color: black;
  text-align: center;
  line-height: 2em;
}

/*INDEX MAIN SECTION END---------------------------*/

/*SLIDESHOW SECTION START---------------------------*/
	
.home-banner { 
  width: 900px;
  height: 360px;
  overflow: hidden;
  margin-left: auto; /*centres the slideshow*/
  margin-right: auto;
}

.home-banner img {
  position: absolute; 
  max-width: 100%; /*allows the slideshow to be scaled to different sizes, but at smaller sizes 
                     there is a gap between the main content and the banner that i'm not sure
					 how to fix*/
                 
  animation: FadeInOut 15s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.home-banner img:nth-child(odd) {
  animation-delay: 8s;
  animation-timing-function:ease-in-out;
}

@keyframes FadeInOut {
     
   0% {
        opacity:0;
    }
    30% {
        opacity:0; 
    }
    40%{
        opacity:1; 
    }
    75%{
        opacity:1; 
    }
    85%{
        opacity:1; 
    }
    
    100% {
        opacity:0;
    }   
}

/*SLIDESHOW SECTION END---------------------------*/

/*INDEX CONTENT SECTION START---------------------------*/

iframe {
  width: 832px;
  height: 468px;
  padding: 0 20px 0 20px;  
  border: none;
  max-width: 90%; 
  resize: both;
  overflow: auto; 
}

/*INDEX CONTENT SECTION END---------------------------*/
				 
@media screen and (min-width: 500px) {
	
}

@media screen and (min-width: 1000px) {

}
