
main {
  margin-bottom: 20px;
}

.info-container p {
	line-height: 2em;
}

.info-container h4 {
  color: black;
  padding-bottom: 10px;	
}

.image-gallery {
  background-color: #191919;
  /*margin-right: 10px;*/
  /* width: 60%; */
  /*display: block;*/
  /* float: left; */
}

.staff-container {
  /*margin-left:10px;*/
  background-color: #191919;
  /* width: 38.5%; */
  /* display: block; */
  /* float: right; */
  margin: 20px 0 20px 0;
}

.staff-container img {
  cursor: pointer;
  margin: 20px 20px 20px 20px; 
}

@media screen and (min-width: 500px) {
			
}

@media screen and (min-width: 1000px) {
}

