
.rules-container {

}

.rules-container ul, h3, h4 {                  
  color: black;
}

.rules-container ul {
  padding-top: 10px;
}

.rules-container p {
  padding-top: 10px;
  line-height: 2em;
}
					 
@media screen and (min-width: 500px) {
	
}

@media screen and (min-width: 1000px) {

}
