
/*STATUS SECTION START---------------------------*/

.status-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.status-container img  {
  	margin: 20px 20px 0 20px;
	max-width: 90%;
}

.status-container p {
  padding: 10px 0 0 0;                    
  line-height: 2em;
}

/*STATUS SECTION END---------------------------*/
				 
@media screen and (min-width: 500px) {

/*STATUS CONTENT SECTION START---------------------------*/
	
  .status-container {
    justify-content: start;
    align-items: start;
  }
	
  .status-container img {
	  max-width: 90%;
  }
  
/*STATUS CONTENT SECTION END---------------------------*/

}

@media screen and (min-width: 1000px) {
	
/*STATUS CONTENT SECTION START---------------------------*/
	
  .status-container {
    justify-content: start;
    align-items: start;
  }

  .status-container img {
    max-width: 100%;
	  
  }
  
/*STATUS CONTENT SECTION END---------------------------*/

}
