
#status-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

#status-container img {
  	padding: 20px 20px 0 20px;
	width: 250px;
	height: 42px;	
}

#status-container p {
  padding: 10px 0 20px 0;                    
  line-height: 2em;
}
					 
@media screen and (min-width: 500px) {
	
  #status-container {
    justify-content: start;
    align-items: start;
  }
	
  #status-container img {

  }

  #status-container p {

  }
}

@media screen and (min-width: 1000px) {

  #status-container img {
	  
  }

  #status-container p {
	
  }	
}

.box {
  flex-grow: 1;
  border: 3px solid rgba(0,0,0,.2);
}

.box1 {
  flex-grow: 2;
  border: 3px solid rgba(0,0,0,.2);
}