@import url(http://fonts.googleapis.com/css?family=Roboto);

p, h3, h4, ul {
  font-family: 'Roboto', sans-serif;
  margin: 0 20px 0 20px;
  color: white;
}

h3, h4 {
  padding-top: 20px;
}

ul {
  margin-left: -4px;
}

body {
  background: #212121;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
}

header {
  background: #313131;
  //background-image: url('../images/header-background.png');
  min-height: 50px;
  border-bottom: 3px solid #C62828; 
  //position: fixed;
  width: 100%; 
}

#ip-box {	
  display: none;	
}

#three-lines {
  padding: 0 20px 0 20px;
  position: absolute;
  top: 0;
  line-height: 50px;
  font-size: 20px;
}

#top-nav {
	margin-top: 50px;
}

nav {
  background: #212121;
  display: none; /*on mobile the menu items are initially hidden*/
}

nav a {
  padding: 15px 20px 15px 20px; /*changes the space around each link item in the menu*/
  display: block; 
}

nav a:hover {
  background-color: #C62828;
  transition: all 0.25s ease; 
}

.show-menu {
  display: block;
}

a {
  color: white;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

#logo {
  position: absolute;
  top: 0;	/* prevents logo moving when nav is selected*/
  right: 0%; /*keeps the logo right*/
  margin: 0 20px 0 20px;   
}

#logo img {
  width: 134px;
  height: 40px;
  margin-top: 6px;
}

.teamspeak-box {
	display: none;	
}

.wrapper {
	width: 100%;
	margin: auto;
}

main {
  background-color: white;
  padding-bottom: 20px;
}

main p {
  color: black;
}

.title-banner {
  background: #191919;
  display: flex;
  justify-content: center;
}

.title-banner h3 {
  padding: 10px 0 10px 0; 
  color: white;
}	
		
footer {
	background: white;
	margin: 20px 0 20px 0;
    display: flex;
	flex-flow: row wrap; /*does both flex-direction and flex wrap*/
	justify-content: center;
	align-items: center;
}

footer p {
	color: black; 
	padding: 10px 0 5px 0;  	
}

.icons   {
	line-height: 50%; /*vertically centers the icons*/
}
	
@media screen and (min-width: 500px) {
	
  header {
    min-height: 75px;
	background: #313131;
	//background-image: url('../images/header-background.png');
  }
		
  nav a {
	display: inline-block;
	width: 44%;
  }
  
  nav a:hover {
  
  }
  
  #three-lines {
	 padding: 0 35px 0 35px;
     line-height: 75px; 	
     font-size: 30px;	
  }
  
  #top-nav {
	margin-top: 75px; /*ensures that when selecting the first nav item the hover doesn't cover the grey*/
  }

 #logo img {
    width: 218px;
	height: 65px;	
  }
  	
  .wrapper {
    width: 75%;
    margin: auto;
  }
  
  .title-banner {
    justify-content: start;
  }
     	
  footer p {
	  padding-bottom: 10px;
  }
	
@media screen and (min-width: 1000px) {
	
  header {
    min-height: 0;
    background: #313131;
	//background-image: url('../images/header-background.png');
	display: flex;
	flex-flow: row-reverse wrap;
	justify-content: space-between;
	//align-items: center;

  }
  
  #ip-box {
    background: #212121;
	width: 220px;
	height: 52px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
  }
	     
  #three-lines {
    display: none;
  }
  
  #top-nav {
    margin-top: 0;	
  }
  
  nav {
   display: inline-block;     
  }
  
  nav a {
    width: inherit;
  }
    
  #logo {
    position: relative;  
	margin: 0;
  }
   
  .teamspeak-box {
    background: #212121;
	width: 175px;
	height: 50px;
	margin: 0;
	display: flex;
	flex-direction: row;
  }
	
  .teamspeak-box img {
    background: #313131;
  }
	
  #teamspeak-box-inner {
    width: 50px;
	height: 50px;
	margin: 0;
	padding: 15px 0 0 15px;
  }
  
  .title-banner {
    justify-content: start;
  }
  	
  footer p {
	  padding-bottom: 10px;
  }
}