
/*GLOBAL SECTION START---------------------------*/

@import url(https://fonts.googleapis.com/css?family=Roboto); /*Imported font used throughout the website*/

p, h3, h4, ul {
  font-family: 'Roboto', sans-serif;
  margin: 0 20px 0 20px;
  color: white;
}

h3, h4 {
  padding-top: 20px;
}

ul {
  margin-left: -4px;
}

/*GLOBAL SECTION END---------------------------*/

/*MOBILE SIZE START---------------------------*/

body {
  background: #262626;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
}

/*HEADER SECTION START---------------------------*/

header {
  background: #191919;
  min-height: 50px;
  border-bottom: 3px solid #C62828; 
  /*position: fixed;*/ /*fixing the header breaks the nav bar*/
  width: 100%; 
}

#ip-box {	
  display: none; /*The IP box should only be displayed on desktop size*/
}

/*NAV BAR SECTION START---------------------------*/

#three-lines {
  padding: 0 20px 0 20px;
  position: absolute;
  top: 0;
  line-height: 50px;
  font-size: 20px;
}

#top-nav {
	margin-top: 50px;
}

nav {
  background: #212121;
  display: none; /*on mobile the menu items are initially hidden*/
}

nav a {
  padding: 15px 20px 15px 20px; /*changes the space around each link item in the menu*/
  display: block; 
  transition: width 2s;
}

nav a:hover {
  background-color: #C62828;
}

.show-menu {
  display: block;
}

a {
  color: white;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

.active {
  background-color: #C62828; /*Allows a user to see what page they're currently on*/
}

/*NAV BAR SECTION END---------------------------*/

#logo {
  position: absolute;
  top: 0;	/* prevents logo moving when nav is selected*/
  right: 0%; /*keeps the logo right*/
  margin: 0 20px 0 20px;   
}

#logo img {
  width: 134px;
  height: 40px;
  margin-top: 6px;
}

.discord-box {
	display: none; /*The Discord box should only be displayed on desktop size*/
}

/*HEADER SECTION END---------------------------*/

.wrapper {
  width: 100%;
  margin: auto;
}

/*MAIN SECTION START---------------------------*/

main {
  background-color: white;
  padding-bottom: 20px;
}

main p {
  color: black;
}

.title-banner {
  background: #191919;
  display: flex;
  justify-content: center;
}

.title-banner h3 {
  padding: 10px 0 10px 0; 
  color: white;
}

/*MAIN SECTION END---------------------------*/	

/*FOOTER SECTION START---------------------------*/
		
footer {
	background: white;
	margin: 20px 0 20px 0;
    display: flex;
	flex-flow: row wrap; /*does both flex-direction and flex wrap*/
	justify-content: center;
	align-items: center;
	clear: both;
}

footer p {
  color: black; 
  padding: 10px 0 5px 0;  	
}

.icons {
  line-height: 50%; /*vertically centres the icons*/
}

/*FOOTER SECTION END---------------------------*/

/*MOBILE SIZE END---------------------------*/

/*TABLET SIZE START---------------------------*/
	
@media screen and (min-width: 500px) {

/*HEADER SECTION START---------------------------*/
	
  header {
    min-height: 75px;
	background: #191919;
  }
  
/*NAV BAR SECTION START---------------------------*/
		
  nav a {
	display: inline-block;
	width: 44%;
  }
  
  nav a:hover {
  
  }
  
  #three-lines {
	 padding: 0 35px 0 35px;
     line-height: 75px; 	
     font-size: 30px;	
  }
  
  #top-nav {
	margin-top: 75px; 
  }
  
/*NAV BAR SECTION END---------------------------*/

 #logo img {
    width: 218px;
	height: 65px;	
  }
  
/*HEADER SECTION END---------------------------*/
  	
  .wrapper {
    width: 75%;
    margin: auto;
  }
  
/*MAIN SECTION START---------------------------*/
  
  .title-banner {
    justify-content: start;
  }
  
/*MAIN SECTION END---------------------------*/

/*FOOTER SECTION START---------------------------*/
     	
  footer p {
	  padding-bottom: 10px;
  }
  
/*FOOTER SECTION END---------------------------*/

}

/*TABLET SIZE END---------------------------*/

/*DESKTOP SIZE START---------------------------*/
	
@media screen and (min-width: 1000px) {
	
/*HEADER SECTION START---------------------------*/
	
  header {
    min-height: 0;
    /*background-image: url(../images/header-background.png);*/
	background-color: #191919;
	display: flex;
	flex-flow: row-reverse wrap;
	align-items: center;
	justify-content: space-between;
  }
  
  #ip-box {
    background: #262626;
	width: 220px;
	height: 52px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
  }
  
/*NAV BAR SECTION START---------------------------*/
	     
  #three-lines {
    display: none;
  }
  
  #top-nav {
    margin-top: 0;	
  }
  
  nav {
   display: inline-block;
   background: none;   
  }
  
  nav a {
    width: inherit; 
  }
  
/*NAV BAR SECTION END---------------------------*/
        
  #logo {
    position: relative;  
  }
   
  .discord-box {
    background: #262626;
	width: 150px;
	height: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-bottom: 3px solid #191919; /*solves the problem of hover moving the padding by adding an invisible border the same colour of the header background*/
	//transform: translateZ(1em);
  }
  
  .discord-box:hover {
    border-bottom: 3px solid #C62828;
  }
	
  .discord-box img {
	width: 35px;
	height: 35px;
	margin-left: 20px;
  }
  
/*HEADER SECTION END---------------------------*/

/*FOOTER SECTION START---------------------------*/
	 
  footer p {
	  padding-bottom: 10px;
  }
  
/*FOOTER SECTION END---------------------------*/

}

/*DESKTOP SIZE END---------------------------*/